:root {
  --primary-brand: #4d5ae5; /*IRIS*/
  --dark: #2e2f42; /*NAVY BLUE*/
  --green: #31d0aa; /*SUCCESS*/
  --text: #434455; /*SLATE*/
  --sublin-text: #8e8f99; /*LIGHT SLATE*/
  --accent: #e7e9fc; /*CORNFLOWER*/
  --light: #f4f4fd; /*CLOUD*/
  --primary-bg-color: #ffffff; /*WHITE*/

  --transition-main: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

body {
  color: var(--text);
  background-color: var(--primary-bg-color);

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

img {
  display: block;
  width: 100%;
}

.link,
.logo,
.btn {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.link-pointer {
  transition: color var(--transition-main);
}

.link-pointer:hover,
.link-pointer:focus {
  color: var(--primary-brand);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* header nav */
.head-border {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-container {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--dark);

  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.03em;

  margin-right: 77px;
}

.logo-color {
  color: var(--primary-brand);
}

.site-nav {
  line-height: 1.5;
}

.site-nav > a {
  color: var(--dark);

  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 40px;
}

.site-nav > a:last-child {
  margin-right: 0;
}

.contact-section {
  margin-left: auto;
}

.contact-section > .item:not(:last-child) {
  margin-right: 40px;
}

.icon-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  margin-bottom: 8px;
  border-radius: 4px;

  background-color: var(--light);
}

/* hero section */

.hero-section {
  text-align: center;

  padding-top: 192px;
  padding-bottom: 192px;
  max-width: 1440px;
  margin: auto;

  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--primary-bg-color);

  font-size: 56px;
  font-weight: 500;
  line-height: 1.1;

  margin-top: 0;
  margin-bottom: 48px;
}

.hero-section > .hero-btn {
  padding: 16px 32px;
  border-radius: 4px;
}

.active-page {
  position: relative;
}

.active-page::after {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--primary-brand);
}

/* sections */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.second-section {
  padding-bottom: 120px;
}

.portf-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.site-nav,
.title,
.list-title,
.btn {
  color: var(--dark);

  font-weight: 500;
}

.title {
  font-size: 36px;
  line-height: 1.1;

  text-align: center;

  margin-top: 0;
  margin-bottom: 72px;
}

.list-title {
  font-size: 20px;

  margin-top: 0;
  margin-bottom: 8px;
}

.secret-name {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.card-info {
  padding: 32px 16px 36px;
}

.card-text {
  margin-bottom: 12px;
}

.card-link {
  padding: 12px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-shadow {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-container > .item {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
}

.list-container > .item:last-child {
  margin-right: 0;
}

.list-container > .image {
  width: calc((100% - 48px) / 3);
  margin-right: 24px;
}

.list-container > .image:last-child {
  margin-right: 0;
}

.list-container > .filter-image {
  width: calc((100% - 54px) / 3);
  border: 0.5px solid var(--light);

  margin-right: 24px;
  margin-bottom: 48px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

  transition: box-shadow var(--transition-main);
}

.filter-image:hover,
.filter-image:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-container > .filter-image:nth-child(3n) {
  margin-right: 0;
}

.list-container > .filter-image:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.list-container > .social-item {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
}

.list-container > .social-item:last-child {
  margin-right: 0;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background-color: var(--primary-brand);
  transition: background-color var(--transition-main);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon,
.foot-social-icon {
  fill: var(--primary-bg-color);
}

.card {
  background-color: var(--primary-bg-color);
  text-align: center;
}

.card > .text {
  margin-bottom: 32px;
  display: block;
}

.left {
  text-align: left;
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 32px;
}

.list-container > .filter-btn-list {
  margin-right: 24px;
  margin-bottom: 72px;
}

.list-container > .filter-btn-list:last-child {
  margin-right: 0;
}

.btn {
  padding: 12px 24px;
  border-radius: 4px;

  cursor: pointer;

  font-family: inherit;
}

.btn-primary {
  border: transparent;

  letter-spacing: 0.04em;

  color: var(--primary-bg-color);
  background-color: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--transition-main),
    border var(--transition-main);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #404bbf;
  border: transparent;
}

.btn-secondary {
  border: 1px solid var(--accent);

  color: var(--primary-brand);
  background-color: var(--light);

  transition: background-color var(--transition-main),
    color var(--transition-main);
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--primary-brand);
  border: 1px solid transparent;
  color: var(--primary-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.dark-bg {
  background-color: var(--dark);
}

.light-bg {
  background-color: var(--light);
}

.list-container > .cust-list {
  width: calc((100% - 120px) / 6);
  margin-right: 24px;
}

.list-container > .cust-list:last-child {
  margin-right: 0;
}

.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;

  border: 1px solid var(--sublin-text);
  border-radius: 4px;

  fill: var(--sublin-text);

  transition: fill var(--transition-main),
    border var(--transition-main);
}

.customer-link:hover,
.customer-link:focus {
  border: 1px solid var(--primary-brand);
  fill: var(--primary-brand);
}

/* footer */

footer.dark-bg {
  padding-top: 100px;
  padding-bottom: 100px;
}

.foot-section:nth-child(1) {
  margin-right: 120px;
}

.foot-section:nth-child(2) {
  margin-right: 80px;
}

.foot-section:nth-child(3) {
  margin-right: 0;
}

.foot-flex {
  display: flex;
}

.foot-text {
  max-width: 264px;
}

.foot-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.text-color {
  color: var(--accent);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-media-name {
  font-weight: 700;
  line-height: 1.5;

  margin-top: 0;
  margin-bottom: 16px;
}

.foot-social-media {
  max-width: 208px;
}

.list-container > .foot-social-item {
  width: calc((100% - 48px) / 4);
  margin-right: 16px;
}

.list-container > .foot-social-item:last-child {
  margin-right: 0;
}

.foot-link {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--transition-main);
}

.foot-link:hover,
.foot-link:focus {
  background-color: var(--green);
}

.foot-email {
  max-width: 453px;
}

.foot-form {
  display: flex;
  align-items: end;
}

.foot-field {
  display: flex;
  flex-direction: column;
  min-width: 264px;
  width: 100%;
  margin-right: 24px;
}

.foot-input {
  margin: 0;
  padding: 7px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;

  background-color: transparent;
  color: var(--accent);

  line-height: 2;
  font-size: 12px;
  font-family: inherit;
  letter-spacing: 0.04em;
}

.foot-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.foot-input:focus {
  border: 1px solid var(--accent);
}

.btn-send {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.foot-icon {
  fill: #fff;
  margin-left: 16px;
}

/* ------- MODAL ------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  opacity: 1;
  transition: opacity var(--transition-main);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 408px;
  padding: 24px;
  border-radius: 4px;

  background-color: #fcfcfc;

  transition: transform var(--transition-main);
}

.close-modal {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-bottom: 24px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--accent);
  fill: #000;

  transition: background-color var(--transition-main),
    fill var(--transition-main);
}

.close-modal:hover,
.close-modal:focus {
  background-color: var(--primary-brand);
  border: 1px solid transparent;
  fill: #fff;
}

.modal-intro {
  display: block;
  text-align: center;
  margin-bottom: 14px;

  font-weight: 500;
  line-height: 1.5;
  color: var(--dark);
}

.field {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.field:nth-child(4) {
  margin-bottom: 16px;
}

.field-input {
  font-family: inherit;
  font-size: 12px;

  padding: 12px 20px 12px 38px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--text);
}

.field-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.33;
  color: var(--sublin-text);
  letter-spacing: 0.04em;
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  padding: 16px 66px;

  line-height: 1.5;
  letter-spacing: 0.04em;
}

.modal-icon {
  position: absolute;
  top: 52%;
  left: 19px;

  fill: var(--dark);
  transition: fill var(--transition-main);
}

.field-textarea {
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  resize: none;
}

.field-input::placeholder,
.field-textarea::placeholder {
  color: rgb(117, 117, 117, 0.5);
}

.modal-policy {
  color: var(--primary-brand);
  text-decoration: none;
  transition: color var(--transition-main);
}

.modal-policy:hover,
.modal-policy:focus {
  color: #404bbf;
  text-decoration: underline;
}

.field-input:focus + .modal-icon {
  fill: var(--primary-brand);
  outline-color: var(--primary-brand);
}

.check-label {
  display: flex;
  align-items: center;
}

.checkbox-icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid var(--dark);
  border-radius: 2px;
  cursor: pointer;

  fill: transparent;
  transition: fill var(--transition-main),
    background-color var(--transition-main),
    border var(--transition-main) ;
}

.checkbox:checked + .checkbox-icon {
  border: 1.25px solid var(--primary-brand);
  background-color: var(--primary-brand);
  fill: var(--light);
}

.policy-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ------- OVERLAY FOR PORTFOLIO ------- */

.overlay-image {
  overflow: hidden;
  position: relative;
}

.card:hover .overlay-text,
.card:focus .overlay-text {
  transform: translateY(0);
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--primary-brand);

  transition: transform var(--transition-main);
  transform: translateY(100%);
}

.box-text {
  text-align: start;
  padding: 40px 32px;

  color: var(--primary-bg-color);
}

/* -----PART 2----- */
