
.site-nav > a:last-child {
  margin-right: 0;
}


.contact-section > .item:not(:last-child) {
  margin-right: 40px;
}

.list-container > .item {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
}

.list-container > .item:last-child {
  margin-right: 0;
}

.icon-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  margin-bottom: 8px;
  border-radius: 4px;

  background-color: var(--light);
}



/* //////////////////////////////// */



.list-container > .item {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
}

.list-container > .item:last-child {
  margin-right: 0;
}

.list-container > .image {
  width: calc((100% - 48px) / 3);
  margin-right: 24px;
}

.list-container > .image:last-child {
  margin-right: 0;
}

.list-container > .filter-image {
  width: calc((100% - 54px) / 3);

  margin-right: 24px;
}

.list-container > .filter-image:nth-child(3n) {
  margin-right: 0;
}

.list-container > .filter-image:nth-last-child(-n + 3) {
  margin-bottom: 0;
}



.list-container > .filter-btn-list {
  margin-right: 24px;
  margin-bottom: 72px;
}

.list-container > .filter-btn-list:last-child {
  margin-right: 0;
}



/* //////////////////////////////// */



.foot-section:nth-child(1) {
  margin-right: 120px;
}

.foot-section:nth-child(2) {
  margin-right: 80px;
}

.foot-section:nth-child(3) {
  margin-right: 0;
}

.foot-flex {
  display: flex;
}


.foot-form {
  display: flex;
  align-items: end;
}

.foot-field {
  display: flex;
  flex-direction: column;
  min-width: 264px;
  width: 100%;
  margin-right: 24px;
}





/* ------- OVERLAY FOR PORTFOLIO ------- */

.overlay-image {
  overflow: hidden;
  position: relative;
}

.card:hover .overlay-text,
.card:focus .overlay-text {
  transform: translateY(0);
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--primary-brand);

  transition: transform var(--transition-main);
  transform: translateY(100%);
}

.box-text {
  text-align: start;
  padding: 40px 32px;

  color: var(--primary-bg-color);
}

/* -----PART 2----- */
